// .scrollable-tabs-items {
//   overflow-y: auto;
//   overflow-x: auto;
//   width: 800px;
//   height: 800px
// }

.tea img {
  width: 100%;
}

.tea h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
